<!DOCTYPE html>
<html lang="es">
    <head>
        {%load static%}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Lucero Entrega 3</title>
        <!-- Favicon-->
        <link rel="icon" href="{%static '/assets/piton.png'%}" type="image/x-icon">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static '/css/styles.css'%}" rel="stylesheet" />
        <link href="{%static '/css/estilos.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href={%url 'Inicio' %}>Inicio</a>
                <a class="navbar-brand" href={%url 'lista' %}>Comprador lista</a>
                <a class="navbar-brand" href={%url 'tiendas' %}>Tiendas favoritas</a>
                <a class="navbar-brand" href={%url 'descuentos' %}>Descuentos</a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Busque productos de su lista por su categoria</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form action="{% url 'buscar' %}" method="GET">
                                <!-- Email address input-->
                                <div class="row" style="display: flex; flex-direction: column;">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" type="text" name="categoria" id="categoria" />
                                        
                                    </div>
                                    <input type="submit" name="Buscar" class="enviar" value="Buscar">
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                    
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        {%block contenidoCambiante%}
        {%endblock contenidoCambiante%}

        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2023. All Rights Reserved.</p>
                    </div>

                </div>
            </div>
        </footer>

    </body>
</html>
