{% extends 'index.html' %}

{% load static %}
{%block contenidoCambiante%}
{% block body %}
<h2>Productos en la categoría <b>{{categoria}}</b></h2>
<div style="display: flex; align-items: center; justify-content: center;">
{% if producto %}
<ul style="text-align: center; font-size: 1.5rem; display: flex; align-items: center; justify-content: center; flex-direction: column; list-style-type: none; border: 2px solid rgba(0, 0, 0, 0.123); width: 40%; padding: 1rem;">
    {% for producto in producto %}
    <li style="box-shadow: 1px 2px 1px  rgba(0, 0, 0, 0.253); width: 50%; margin: 0.5 rem; padding: 1rem;">{{producto.nombre}}</li>
    
    {% endfor %}
</ul>
{% endif %}
</div>
{% endblock body %}

{%endblock contenidoCambiante%}